{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('color_show') }}" method=post class=add-entry>
    <table border="0" width="100%" cellpadding="10">
        <tr valign="top">
            <span>Select language:</span>
            <select id="colorSchemeSelect" name="colorscheme" value="darkblue2" size="1">
                <option>adaryn</option>
                <option>adrian</option>
                <option>aiseered</option>
                <option>anotherdark</option>
                <option>aqua</option>
                <option>asmdev</option>
                <option>astronaut</option>
                <option>asu1dark</option>
                <option>autumn2</option>
                <option>autumnleaf</option>
                <option>autumn</option>
                <option>badwolf</option>
                <option>baycomb</option>
                <option>bclear</option>
                <option>biogoo</option>
                <option>bjornenki</option>
                <option>blacksea</option>
                <option>BlackSea</option>
                <option>bluegreen</option>
                <option>blue</option>
                <option>bog</option>
                <option>borland</option>
                <option>breeze</option>
                <option>brookstream</option>
                <option>buttercream</option>
                <option>bw</option>
                <option>calmar256-dark</option>
                <option>calmar256-light</option>
                <option>camo</option>
                <option>candycode</option>
                <option>candy</option>
                <option>caramel</option>
                <option>chela_light</option>
                <option>chocolateliquor</option>
                <option>ChocolateLiquor</option>
                <option>clarity</option>
                <option>cleanphp</option>
                <option>cobalt</option>
                <option>coffee</option>
                <option>colorer</option>
                <option>colorscheme_template</option>
                <option>cool</option>
                <option>cthulhian</option>
                <option>dante</option>
                <option selected="selected">darkblue2</option>
                <option>darkblue</option>
                <option>darkbone</option>
                <option>darkdot</option>
                <option>darkocean</option>
                <option>dark-ruby</option>
                <option>darkslategray</option>
                <option>darkspectrum</option>
                <option>darktango</option>
                <option>darkZ</option>
                <option>dawn</option>
                <option>default</option>
                <option>delek</option>
                <option>denim</option>
                <option>desert256</option>
                <option>desertedocean</option>
                <option>desertEx</option>
                <option>desert</option>
                <option>django_smoothy</option>
                <option>django</option>
                <option>dusk</option>
                <option>dw_blue</option>
                <option>dw_cyan</option>
                <option>dw_green</option>
                <option>dw_orange</option>
                <option>dw_purple</option>
                <option>dw_red</option>
                <option>dw_yellow</option>
                <option>earendel</option>
                <option>eclipse</option>
                <option>ekvoli</option>
                <option>elflord</option>
                <option>emacs</option>
                <option>evening</option>
                <option>fine_blue2</option>
                <option>fine_blue</option>
                <option>fnaqevan</option>
                <option>fog</option>
                <option>freya</option>
                <option>fruit</option>
                <option>fruity</option>
                <option>golden</option>
                <option>gothic</option>
                <option>greyblue</option>
                <option>guardian</option>
                <option>habilight</option>
                <option>habiLight</option>
                <option>herald</option>
                <option>hhazure</option>
                <option>hhorange</option>
                <option>hhpink</option>
                <option>hhspring</option>
                <option>hhteal</option>
                <option>hhviolet</option>
                <option>impact</option>
                <option>inkpot</option>
                <option>ironman</option>
                <option>jammy</option>
                <option>jellybeans</option>
                <option>kellys</option>
                <option>koehler</option>
                <option>leo</option>
                <option>less</option>
                <option>lettuce</option>
                <option>lilac</option>
                <option>lucius</option>
                <option>manxome</option>
                <option>marklar</option>
                <option>maroloccio</option>
                <option>martin_krischik</option>
                <option>matrix</option>
                <option>metacosm</option>
                <option>midnight2</option>
                <option>midnight</option>
                <option>Mkcolorscheme</option>
                <option>molokai</option>
                <option>moria</option>
                <option>morning</option>
                <option>moss</option>
                <option>motus</option>
                <option>murphy</option>
                <option>mustang</option>
                <option>navajo-night</option>
                <option>navajo</option>
                <option>neon</option>
                <option>neverness</option>
                <option>nightshimmer</option>
                <option>night</option>
                <option>nightwish</option>
                <option>no_quarter</option>
                <option>northland</option>
                <option>northsky</option>
                <option>nuvola</option>
                <option>oceanblack</option>
                <option>oceandeep</option>
                <option>oceanlight</option>
                <option>olive</option>
                <option>pablo</option>
                <option>papayawhip</option>
                <option>PapayaWhip</option>
                <option>peachpuff</option>
                <option>peaksea</option>
                <option>potts</option>
                <option>print_bw</option>
                <option>professional</option>
                <option>ps_color</option>
                <option>psql</option>
                <option>putty</option>
                <option>pyte</option>
                <option>railscasts2</option>
                <option>railscasts</option>
                <option>rastafari</option>
                <option>rdark</option>
                <option>readme.txt</option>
                <option>relaxedgreen</option>
                <option>robinhood</option>
                <option>ron</option>
                <option>rootwater</option>
                <option>sand</option>
                <option>satori</option>
                <option>scite</option>
                <option>sea</option>
                <option>settlemyer</option>
                <option>shady</option>
                <option>shine</option>
                <option>sienna</option>
                <option>silent</option>
                <option>simpleandfriendly</option>
                <option>slate</option>
                <option>smyck</option>
                <option>softblue</option>
                <option>soso</option>
                <option>spring</option>
                <option>summerfruit256</option>
                <option>synic</option>
                <option>tabula</option>
                <option>tango2</option>
                <option>tango</option>
                <option>taqua</option>
                <option>tcsoft</option>
                <option>tir_black</option>
                <option>tolerable</option>
                <option>tomatosoup</option>
                <option>toothpik</option>
                <option>torte</option>
                <option>transparent</option>
                <option>twilight</option>
                <option>two2tango</option>
                <option>ubloh</option>
                <option>umber-green</option>
                <option>up</option>
                <option>vc</option>
                <option>vibrantink</option>
                <option>vividchalk</option>
                <option>vylight</option>
                <option>whitetango</option>
                <option>wintersday</option>
                <option>winter</option>
                <option>wombat256</option>
                <option>wombat</option>
                <option>wood</option>
                <option>wuye</option>
                <option>xemacs</option>
                <option>xian</option>
                <option>xoria256</option>
                <option>zellner</option>
                <option>zenburn</option>
                <option>zmrok</option>
            </select>

            <span>Select language:</span>
            <select id="languageSelect" name="language" value="c" size="1">
                <option>c</option>
                <option>java</option>
                <option>javascript</option>
                <option>a2ps</option>
                <option>jsp</option>
                <option>aap</option>
                <option>abaqus</option>
                <option>ada</option>
                <option>alsaconf</option>
                <option>ant</option>
                <option>arch</option>
                <option>art</option>
                <option>aspvbs</option>
                <option>automake</option>
                <option>bdf</option>
                <option>bst</option>
                <option>btm</option>
                <option>calendar</option>
                <option>cdrdaoconf</option>
                <option>ch</option>
                <option>changelog</option>
                <option>cobol</option>
                <option>conf</option>
                <option>config</option>
                <option>context</option>
                <option>cpp</option>
                <option>crm</option>
                <option>cs</option>
                <option>csc</option>
                <option>csh</option>
                <option>css</option>
                <option>cucumber</option>
                <option>cvsrc</option>
                <option>debchangelog</option>
                <option>debcontrol</option>
                <option>denyhosts</option>
                <option>dictconf</option>
                <option>dictdconf</option>
                <option>diff</option>
                <option>dircolors</option>
                <option>dosbatch</option>
                <option>dosini</option>
                <option>dtd</option>
                <option>dtrace</option>
                <option>elinks</option>
                <option>eruby</option>
                <option>eterm</option>
                <option>fetchmail</option>
                <option>flexwiki</option>
                <option>fortran</option>
                <option>framescript</option>
                <option>fvwm</option>
                <option>git</option>
                <option>gitcommit</option>
                <option>gitconfig</option>
                <option>gitrebase</option>
                <option>gitsendemail</option>
                <option>gpg</option>
                <option>group</option>
                <option>grub</option>
                <option>haml</option>
                <option>hamster</option>
                <option>haskell</option>
                <option>help</option>
                <option>hostconf</option>
                <option>hostsaccess</option>
                <option>html</option>
                <option>htmldjango</option>
                <option>indent</option>
                <option>initex</option>
                <option>ishd</option>
                <option>kconfig</option>
                <option>kwt</option>
                <option>ld</option>
                <option>lftp</option>
                <option>libao</option>
                <option>limits</option>
                <option>liquid</option>
                <option>lisp</option>
                <option>logcheck</option>
                <option>loginaccess</option>
                <option>logindefs</option>
                <option>logtalk</option>
                <option>lprolog</option>
                <option>lua</option>
                <option>m4</option>
                <option>mail</option>
                <option>mailaliases</option>
                <option>mailcap</option>
                <option>make</option>
                <option>man</option>
                <option>manconf</option>
                <option>markdown</option>
                <option>matlab</option>
                <option>mf</option>
                <option>modconf</option>
                <option>mp</option>
                <option>mplayerconf</option>
                <option>mrxvtrc</option>
                <option>msmessages</option>
                <option>muttrc</option>
                <option>nanorc</option>
                <option>netrc</option>
                <option>nsis</option>
                <option>objc</option>
                <option>ocaml</option>
                <option>occam</option>
                <option>pamconf</option>
                <option>pascal</option>
                <option>passwd</option>
                <option>pdf</option>
                <option>perl</option>
                <option>perl6</option>
                <option>php</option>
                <option>pinfo</option>
                <option>plaintex</option>
                <option>postscr</option>
                <option>procmail</option>
                <option>prolog</option>
                <option>protocols</option>
                <option>pyrex</option>
                <option>python</option>
                <option>qf</option>
                <option>quake</option>
                <option>racc</option>
                <option>readline</option>
                <option>reva</option>
                <option>rnc</option>
                <option>rpl</option>
                <option>rst</option>
                <option>ruby</option>
                <option>sass</option>
                <option>scheme</option>
                <option>screen</option>
                <option>scss</option>
                <option>sensors</option>
                <option>services</option>
                <option>setserial</option>
                <option>sgml</option>
                <option>sh</option>
                <option>sieve</option>
                <option>slpconf</option>
                <option>slpreg</option>
                <option>slpspi</option>
                <option>spec</option>
                <option>sql</option>
                <option>sshconfig</option>
                <option>sudoers</option>
                <option>svg</option>
                <option>sysctl</option>
                <option>tcl</option>
                <option>tcsh</option>
                <option>terminfo</option>
                <option>tex</option>
                <option>udevconf</option>
                <option>udevperm</option>
                <option>udevrules</option>
                <option>updatedb</option>
                <option>vb</option>
                <option>verilog</option>
                <option>vhdl</option>
                <option>vim</option>
                <option>xdefaults</option>
                <option>xf86conf</option>
                <option>xhtml</option>
                <option>xinetd</option>
                <option>xml</option>
                <option>xmodmap</option>
                <option>xs</option>
                <option>xsd</option>
                <option>xslt</option>
                <option>yaml</option>
                <option>zsh</option>
            </select>

        </tr>
        <tr >
            <input type="radio" name="vim" value="gvim" checked="checked" /> gvim
            <input type="radio" name="vim" value="vim" /> vim
        </tr>
        <tr>
            <textarea name=text rows=40 cols=96 >Input your code to here</textarea>
        </tr>
        <tr >
            <td align=center>
                <input type=submit value="Show Result" class=button>
            </td>
        </tr>
    </table>
</form>
The vimcolorscheme.com is build in beijing by <a  href="http://twitter.com/daniel_aof" title="arowser">@arowser</a>.
    <a  href="http://github.com/arowser" title="GitHub"><img align=center  src="/static/github_favicon.png"></a>
{% endblock %}

